<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <!-- Top bar -->
        <nav class="navbar mb-4 navbar-dark bg-dark">
            <div class="container">
                <span class="navbar-brand mb-0 h1" v-text="sitename"></span>
                <div v-if="!showCart">
                    <div v-if="!isCartDisabled">
                        <button v-on:click="switchToCart()" class="btn btn-outline-light btn-sm"><i
                                class="fas fa-shopping-cart"></i>
                            Shopping cart</button>
                    </div>
                </div>
                <div v-else>
                    <button v-on:click="switchToMain()" class="btn btn-outline-light btn-sm"><i
                            class="fas fa-angle-left"></i>
                        Go back</button>
                </div>
            </div>
        </nav>

        <!-- Main page with the list of lessons -->
        <div v-if="!showCart" id='mainPage'>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span><strong>Sort by: </strong></span>
                        <div class="mb-4 form-check form-check-inline" v-for="option in sortOptions">
                            <input class="form-check-input" type="radio" name="sortBy" v-bind:id="option"
                                v-bind:value="option" v-model="sortBy">
                            <label class="form-check-label" v-bind:for="option">{{option}}</label>
                        </div>
                    </div>
                    <div class="col">
                        <span><strong>Sort order: </strong></span>
                        <div class="mb-4 form-check form-check-inline" v-for="option in orderOptions">
                            <input class="form-check-input" type="radio" name="sortOrder" v-bind:id="option"
                                v-bind:value="option" v-model="sortOrder">
                            <label class="form-check-label" v-bind:for="option">{{option}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Listing lessons -->
            <div id="lesson-cards" class="container">
                <div class="row row-cols-4">
                    <div class="col mb-4" v-for="lesson in sortedLessons">
                        <div class="card text-dark bg-light">
                            <figure>
                                <img class="card-img-top" height=200 v-bind:src="lesson.image">
                            </figure>

                            <div class="card-body">
                                <h5 class="card-title" v-text="lesson.subject"></h5>
                                <p class="card-text mb-0"><i class="fas fa-map-marker-alt"></i> Location:
                                    {{lesson.location}}</p>
                                <p class="card-text mb-0"><i class="fas fa-dollar-sign"></i> Price: {{lesson.price}}</p>
                                <p class="card-text mb-0"><i class="fas fa-users"></i> Number of spaces left:
                                    {{lesson.space}}</p>
                            </div>

                            <button class="btn btn-dark" v-on:click="addToCart(lesson)">Add to
                                cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Shopping cart page -->
        <div v-else id="cartPage">
            <!-- List of lessons in the cart -->
            <div class="container">
                <p class="h3">Shopping cart</p>
                <div class="row row-cols-4">
                    <div class="col mb-4" v-for="lesson in cartItems">
                        <div class="card text-dark bg-light">
                            <figure>
                                <img class="card-img-top" height=200 v-bind:src="lesson.image">
                            </figure>

                            <div class="card-body">
                                <h5 class="card-title" v-text="lesson.subject"></h5>
                                <p class="card-text mb-0"><i class="fas fa-map-marker-alt"></i> Location:
                                    {{lesson.location}}</p>
                                <p class="card-text mb-0"><i class="fas fa-dollar-sign"></i> Price: {{lesson.price}}</p>
                            </div>

                            <button class="btn btn-danger" v-on:click="removeFromCart(lesson)">Remove from cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Checkout -->
            <div class="container">
                <p class="h3">Checkout</p>
                <p>Not yet implemented</p>
            </div>
        </div>
    </div>

    <script src="lessons.js"></script>
    <script src="app.js"></script>

</body>

</html>